#top {
    margin-top: 111px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(20vh - 111px);
    gap: 48px;
    max-width: 920px;
    padding: 10px;
}


#top > p{
    font-size: 36px;
    font-weight: 600;
}

#content {
    display: grid;
}

#content > #top > p {
    font-family: 'PoetsenOne';
    text-align: center;
}

#content > #top > .desc > p {
    font-family: 'Poppins';
    margin-top: 20px;
    text-align: center;
}

#top > .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content > #top > .desc > img {
    margin-top: 40px;
    border-radius: 14px;
    border: solid 4px black;
    width: 50%;
    height: 275px;
    object-fit: cover;
    object-position: 100% 90%;
}


#topPoly, #bottomPoly {
    background-color: black;
    height: 100px;
    width: 100%;
    content: '';
    display: block;
}

#topPoly {
    margin-top: 40px;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

#ourTeams {
    background-color: black;
    color: white;
}

#ourTeams > p {
    text-align: center;
    font-size: 35px;
    font-family: 'PoetsenOne';
}

#ourTeams > .team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 96px;
    margin: 80px 0;
}

#ourTeams > .team > * {
    max-width: 400px;
}

#ourTeams > .team > div > p {
    font-family: 'Poppins';
    margin: 10px;
    text-align: left;
}

#ourTeams > .team > div > p:first-child {
    font-family: 'PoetsenOne';
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px;
}

#ourTeams > .team > img {
    height: 500px;
    border-radius: 14px;
}

#ourTeams > p:last-child {
    font-size: 26px !important;
    max-width: 600px;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}


#bottomPoly {
    clip-path: polygon(0 0, 0% 100%, 100% 0);
}

#others > p {
    font-family: 'Poppins';
    text-align: center;
    font-size: 20px;
}