#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--primary);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

