#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
}

#navbar > div:last-child > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#navbar > div:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28.5px;
}

#logo img {
    
    width: 180px;
}

#navbar .menuButton {
    display: none;
}

.menuButton {
    background-color: transparent;
    border: none;
    font-size: 28px;
    color: black;
}

#lang {
    background-color: transparent;
    border: black 1px solid;
    border-radius: 4px;
    font-size: 24px;
    padding: 0 4px;
}

a {
    text-decoration: none;
    color: rgb(140,140,140);
}

.active {
    color: black;
}

#pagesMenu {
    display: flex;
    padding: 0 60px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    max-width: 600px;
    height: 100vh;
    position: absolute;
    z-index: 200;
    border-left: 4px solid black;
    right: -350px;
    top: 0;
    background-color: white;
    transition: right 300ms ease-in-out;
}

#pagesMenu > div:first-child {
    margin-top: 100px;
    font-size: 28px;
    font-family: 'PoetsenOne';
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

#pagesMenu > div:last-child {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
}

#pagesMenu a {
    font-family: 'Poppins';
    font-size: 24px;
}

@media screen and (max-width: 747px) {
    #navbar .menuButton {
        display: block !important;
    }

    #navbar > div:last-child > nav {
        display: none;
    }
}

@media screen and (min-width: 748px) {
    #pagesMenu {
        display: none;
    }
}