#navbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 12vh;
    z-index: 100;
    background-color: var(--primary);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
}

#logo img {
    
    width: 25%;
}

a {
    text-decoration: none;
    color: black;
    margin: 28.5px;
    font-size: 20px;
}

.active {
    text-shadow: 5px -3px 2px rgba(255, 0, 0, 0.58);
    text-decoration: underline;
}

.lang {
    border: 1px solid black;
    width: 95px;
    height: 95px;
    font-weight: bold;
}

.fr {
    padding: 10px;
}

.en {
    padding: 10px;
    margin-left: 40px;
}