* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

:root {
    --primary: #ABABAB;
    --secondary: rgb(21, 144, 214);
    --borders: rgb(56, 64, 69);
    --greyedOut: rgb(170,170,170);
}

@font-face {
    font-family: 'PoetsenOne';
    src: url("../fonts/PoetsenOne-Regular.ttf");
}

@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf");
}