#top {
    margin-top: 111px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 111px);
    gap: 48px;
    max-width: 920px;
    padding: 10px;
}

#top>div>p {
    font-family: 'Poppins';
    text-align: center;
    color: transparent;
    transition: color 1.25s ease-in-out;
}

#top > div > p:first-child {
    font-size: 30px;
}

#top > div > p:last-child {
    font-size: 20px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    align-items: center;
    justify-content: center;
    margin: 100px;
    height: 100vh;
    font-family: 'Poppins';
}

#cards > .card {
    border: 2px solid var(--borders);
    background-color: transparent;
    height: 350px;
    width: 250px;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#cards > .card > .name {
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    font-weight: 600;
}

#cards > .card > .role {
    text-align: center;
    color: rgb(90,90,90);
    font-size: 13px;
}

#cards > .card > .desc {
    border-top: 1px solid black;
    padding-top: 10px;
    margin: 10px 20px;
    font-size: 15px;
}